@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400&display=swap');

:root {
  /* --blue: rgb(30, 58, 138);
  --orange: rgb(245, 158, 11); */
  --white: rgb(243, 243, 243);
  --black: rgb(4, 13, 18);
  --darkgreen: rgb(24, 61, 61);
  --green: rgb(92, 131, 116);
  --lightgreen: rgb(147, 177, 166);
  --shadow: 0 2px 5px rgba(0,0,0,0.3);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    font: inherit;
    box-sizing: inherit;
}

.material-symbols-outlined {
  vertical-align: middle;
  margin-right: 5px;
}

.fab {
  color: var(--lightgreen);
}

body {
  font-family: 'Roboto Flex', sans-serif;
  background-color: var(--green);
  color: var(--lightgreen);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------------------------------- HEADER ----------------------------------------*/

header {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--darkgreen);
  box-shadow: var(--shadow);
  position: fixed;
  top: 0;
  z-index: 1000;
}

header > h1 {
  font-size: 2rem;
  font-weight: 900;
}

header #logo {
  font-size: 2.5rem;
}

#add-book {
  color: var(--lightgreen);
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 50px;
  background-color: var(--darkgreen);
  border: 1px solid var(--lightgreen);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 120px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-book:hover,
#confirm-btn:hover{
  background-color: var(--lightgreen);
  color: var(--darkgreen);
  transition: 0.3s ease;
}

#add-book:active,
#confirm-btn:active,
.book button:active {
  top: 2px;
}

/*-------------------------------- FORM MODAL ----------------------------------------*/

#container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 410px;
  padding: 2rem;
  box-shadow: var(--shadow);
  border-radius: 10px;
  background-color: var(--darkgreen);
  border: 2px solid var(--lightgreen);
}

#container h1 {
  color: var(--lightgreen);
  text-align: center;
  padding: 0.5rem;
  font-size: 2rem;
}

#close-modal .material-symbols-outlined {
  margin: 0;
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: var(--lightgreen);
  border: 1px solid var(--lightgreen);
}

#close-modal .material-symbols-outlined:hover {
 color: red;
 transition: 0.3s ease;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container input[type="text"],
#container input[type="number"],
#container select {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--lightgreen);
  background: var(--white);
  font-size: 1rem;
  margin-bottom: 20px;
}

#container label[for="read"] {
  padding-top: 20px;
  padding-bottom: 10px;
  color: var(--lightgreen);
  font-size: 1.2rem;
}

#confirm-btn {
  color: var(--lightgreen);
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 50px;
  border: 1px solid var(--lightgreen);
  background-color: var(--darkgreen);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 120px;
  position: relative;
  cursor: pointer;
}

.overlay {
  display: none;
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color:rgba(0,0,0,0.5);
  z-index: 1000;
}

/*-------------------------------- MAIN CONTENT / BOOK CARDS ----------------------------------------*/

.bookshelf {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 80px;
  margin-bottom: 120px;
  padding: 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.book {
  background-color: var(--darkgreen);
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  gap: 10px;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid var(--black);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.book:hover {
  background-color: rgba(24, 61, 61, 0.7);
}

.book h3 {
  color: var(--lightgreen);
  font-size: 1.3rem;
  font-weight: 900;

}

.book h4 {
  color: var(--lightgreen);
  font-size: 0.9rem;
}

.book button {
  color: var(--darkgreen);
  padding: 0.6rem;
  font-size: 0.8rem;
  border-radius: 50px;
  background-color: var(--lightgreen);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 100px;
  position: relative;
  cursor: pointer;
  align-self: center;
}

.book button:hover {
  background-color: var(--darkgreen);
  color: var(--lightgreen);
  border: 1px solid var(--lightgreen);
  transition: 0.3s ease;
}

/*-------------------------------- FOOTER ----------------------------------------*/

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px 0px;
  font-size: 1.1rem;
  background: var(--darkgreen);
}