@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400&display=swap');

:root {
  --blue: rgb(30, 58, 138);
  --orange: rgb(245, 158, 11);
  --white: rgb(243, 243, 243);
  --shadow: 0 2px 5px rgba(0,0,0,0.2);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    font: inherit;
    box-sizing: inherit;
}

.material-symbols-outlined {
  vertical-align: middle;
  margin-right: 5px;
}

.fab {
  color: var(--blue);
}

body {
  font-family: 'Roboto Flex', sans-serif;
  background-color: var(--blue);
  color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--orange);
  box-shadow: var(--shadow);
  position: absolute;
  top: 0;
}

header > h1 {
  font-size: 2rem;
  font-weight: 900;
}
#add-book {
  color: var(--orange);
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 50px;
  background-color: var(--blue);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 120px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-book:hover,
#confirm-btn:hover {
  background-color: var(--orange);
  color: var(--blue);
  transition: 0.3s ease;
}

#add-book:active,
#confirm-btn:active {
  top: 2px;
}

#container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  padding: 2rem;
  box-shadow: var(--shadow);
  border-radius: 10px;
  background-color: var(--orange);
  border: 2px solid rgb(11, 22, 53);
}

#container h1 {
  color: var(--blue);
  text-align: center;
  padding: 0.5rem;
  font-size: 2rem;
}

#close-modal .material-symbols-outlined {
  margin: 0;
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: var(--blue);
  border: 1px solid var(--blue);
}

#close-modal .material-symbols-outlined:hover {
 color: red;
 transition: 0.3s ease;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container input[type="text"],
#container input[type="number"],
#container select {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--blue);
  background: var(--white);
  font-size: 1rem;
  margin-bottom: 20px;
}

#container label[for="read"] {
  padding-top: 20px;
  padding-bottom: 10px;
  color: var(--blue);
  font-size: 1.2rem;
}

#confirm-btn {
  color: var(--orange);
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 50px;
  background-color: var(--blue);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 120px;
  position: relative;
  cursor: pointer;
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  padding: 20px;
  gap: 20px;
}

.book {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book h3 {
  color: white;
}

.book h4 {
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px 0px;
  font-size: 20px;
  background: var(--orange);
}